# Configuration for the test coverage tool (py.test --cov)
#
# Copyright 2014 SolidBuilds.com. All rights reserved
#
# Authors: Ling Thio <ling.thio@gmail.com>

[run]

omit =
    pp/startup/reset_db.py
    migrations/*

[report]
show_missing = True
